.weather-card {
  width: 100%;
  min-height: 14rem;
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.2s boxshadow,
    0.2s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.weather-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.temp-details {
  font-size: 12px;
}

.card-body {
  text-align: center;
  display: inline;
}

.col-centered {
  text-align: center;
}
.inpcity {
  margin: 0 auto;
}
.getbtn {
  margin: 0 auto;
}

.message {
  display: inherit;
}
.card-error {
  background-color: #ef9a9a;
  color: #fff;
  // -webkit-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Safari 4+ */
  // -moz-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Fx 5+ */
  // -o-animation: NAME-YOUR-ANIMATION 1s infinite;  /* Opera 12+ */
  // animation: NAME-YOUR-ANIMATION 1s infinite;  /* IE 10+, Fx 29+ */
}

.tempdetails {
  font-size: 14px;
}

@media (min-width: 992px) {
  .tempdetails {
    font-size: 10px;
  }
}

.card-bottom {
  padding-top: 10px;
}

.wicon {
  position: absolute;
  top:0;
  right:0;
  z-index: 999;
}
